.emblem-image {
  position: relative;
  top: 0;
  left: 0;
}
.image-icon {
  position: relative;
  top: 0px;
  left: 0px;
}
.image-background {
  position: absolute;
  top: 0px;
  left: 0px;
}

.charInv-img{
	max-width: 50%;
	max-height: 50%;
	background-color: red;
}

.member-image{
  text-align: left;
  color: white;
  float: left;
  height: auto;
  width: auto;
  background-color: black;
}

.bounty-image{
  display: block;
  text-align: left;
  color: white;
  float: left;
  height: 50px;
  width: 50px;
  max-width: 100%;
  max-height: 100%;
  background-color: black;
}

table, th, td {
  border: 1px solid black;
}
